{% extends "base.html" %}

{% block content %}
    <div style="text-align: center;">
        <h1>Abdullah Naz</h1>
        
        <img src="https://secure.gravatar.com/avatar/2f62a75239a9e866e005f779d9043f825592bc72dd8b76ad81bc134ce8faf35c?s=200&d=mm&r=g" 
             alt="Abdullah Naz" 
             style="border-radius: 50%; width: 200px; height: 200px;">
        
        <p style="font-size: 18px; margin-top: 20px;">
            Abdullah Naz Founder & CEO Keytofashion.co.uk ka founder hy. ye humari Team ky leader hen. Ye chota packet Bara dhamaka hen 15 saal ki umar men bht goal achive kiye hen. Inka kehna hy Ky ye Apny mulak Pakistan ko Top Mulak List men add krna chaty hen
        </p>
    </div>
{% endblock %}